body {
	    background-color: #222930;
	    color: #E9E9E9;
    }
h1 {
	    color: #4EB1BA;
    }
.button {
	display: inline-block;
	border-radius: 4px;
	background-color: #f4511e;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 28px;
	padding: 20px;
	width: 400px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
}

.button span {
	  cursor: pointer;
          display: inline-block;
	  position: relative;
	  transition: 0.5s;
}
.button span:after {
	 content: '»';
	 position: absolute;
	 opacity: 0;
	 top: 0;
	 right: -20px;
	 transition: 0.5s;
}

.button:hover span {
	padding-right: 25px;
}

.button:hover span:after {
	opacity: 1;
	right: 0;
}



ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover:not(.active) {
        background-color: #111;
}

.active {
	background-color: #f4511e;
}
input[type=submit] {
	    width: 25em;  height: 2em;
    }
